.Blogs__page {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 30px auto;
  width: 70%;
  text-align: left;
}
.Blogs_img {
  width: 100%;
}
.Blogs_img img {
  display: flex;
  width: 400px;
  margin: 50px auto;
}
.publish_date {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px auto;
}
.Blogs__title {
  font-size: 50px;
  margin: 20px 0;
}
.Blogs__subTitle {
  font-size: 40px;
  margin: 100px 0 20px 0;
}
.Blogs__content {
  font-size: 20px;
  margin: 10px 0;
}
.Blogs__quote {
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
  width: 60%;
  margin: 30px auto;
}
.Blogs__list li {
  font-size: 25px;
  margin: 30px 0;
}
.ecell_clubs_logos {
  display: flex;
  flex-wrap: wrap;
}
.ecell_club_logo {
  margin: 30px;
}

@media only screen and (max-width: 768px) {
  .Blogs__page {
    width: 80%;
  }
  .Blogs_img img {
    display: flex;
    width: 80%;
    margin: 50px auto;
  }
  .publish_date {
    font-size: 13px;
  }
  .Blogs__title {
    font-size: 22px;
  }
  .Blogs__subTitle {
    font-size: 18px;
    margin: 30px 0 10px 0;
  }
  .Blogs__content {
    font-size: 13px;
  }
  .Blogs__quote {
    font-size: 13px;
    /* font-style: italic; */
    width: 70%;
  }
  .Blogs__list li {
    font-size: 13px;
    margin: 10px 0;
  }
  .ecell_club_logos {
    margin: 20px;
  }
  .ecell_club_logo img {
    width: 120px;
  }
}
